
.shop_background {
    background-color: black; width: 100vw; height: 100vh; display: flex; justify-content: center;
    font-family: MM_KANUN; 
}

.shop_box {
    background-color: whitesmoke; width: 90%; height: 90%; margin: 2%;
}

.shop_window {
    width: 100%; height: 90%; background-color: black;
}

.show_money_window {
    display: flex; justify-content: center; align-items: center; color: whitesmoke;
}

.btn_window {
    width: 100%; height: 10%; background-color: black; display: flex;
}

.right_btn {
    display: flex; justify-content: left; align-items: center; height: 100%; width: 50%;
}

.left_btn {
    width: 50%;
}

.tabs_btn {
    font-size: 20px;
}