
:root {
    --list-height: 30%;
    --upper-box-height: 50%;
}

.inventory_box {
    display: flex; 
    height: 100%; 
    width: 100%; 
    background-color: black;
    font-family: MM_KANUN;
}

.list_box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; 
    height: 100%; 
    width: var(--list-height);
    border-style: solid;
    border-color: whitesmoke;
}

.box_border {
    border-style: double;
    border-color: whitesmoke;
    border-radius: 5px;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    height: 99%;
    width: 99.55%;
}

.right_boxes {
    display: block; 
    background-color: black; 
    height: 100%; 
    width: calc(100% - var(--list-height));
}

.upper_box {
    background-color: black; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--upper-box-height);
    border-style: solid;
    border-color: whitesmoke;
}

.lower_box {
    background-color: black; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - var(--upper-box-height));
    border-style: solid;
    border-color: whitesmoke;
}

.list_btn{
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

.type_btn {
    width: 80%;
    margin-bottom: 7%;
}

.items_list_box {
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95%;
    width: 100%;
    background-color: black;
    border-radius: 5px;
    overflow-y: auto;
}

.items_list {
    margin-left: 1%;
    margin-right: 1%;
    height: inherit;
    width: 90%;
    background-color: black;
}

.item_btn {
    width: 100%;
}

.item {
    display: flex;
    align-items: center;
    border-style: solid;
    border-color: whitesmoke;
    border-radius: 5px;
    color: whitesmoke;
    padding: 1%;
    margin-bottom: 5%;
    cursor: pointer;
    transition: 0.2s;
}

.item:hover{
    background-color: whitesmoke;
    color: black;
}

.chosen_item {
    background-color: whitesmoke;
    color: black;
}

.item_name {
    width: calc(100% - var(--item-amount-box));
}

.item_amount {
    width: var(--item-amount-box);
}

.item_title {
    color: whitesmoke;
}

.item_body {
    color: whitesmoke;
    overflow-y: auto;
    height: 40%;
    padding-bottom: 5%;
    scrollbar-width: thin;
    scrollbar-color: black white;
}

.item_des_box {
    height: 100%;
    width: 100%;
}

.status_box {
    width: 100%;
    display: flex;
    flex: 0 1 auto;
    text-align: center;
    height: fit-content;
}

.status_box_cell {
    border: double whitesmoke;
    color: whitesmoke;
    width: 50%;
    overflow-x: auto;
    white-space: nowrap;
}

.status_box_big {
    width: 100%;
    display: flex;
    flex-flow: column;
    flex: 0 1 auto;
    text-align: center;
    height: fit-content;
}

.status_box_cell_big {
    border: double whitesmoke;
    color: whitesmoke;
    width: 100%;
}

.status_box_cell_large {
    border: double whitesmoke;
    color: whitesmoke;
    width: 100%;
    height: 90px;
    text-align: left;
    padding-left: 2%;
    padding-right: 2%;
    overflow-y: auto;
    word-wrap: break-word;
    scrollbar-width: thin;
    scrollbar-color: black white;
}

@media only screen and (max-width: 600px) {
    :root {
        --item-amount-box: 20%;
    }

    .type_btn {
        font-size: 5vw;
    }

    .item_title {
        font-size: 7vw;
    }

    .item_body {
        font-size: 3.5vw;
    }

    .item {
        font-size: 4vw;
    }

    .item_des_box {
        padding: 5%;
    }

    .item_btn {
        font-size: 4vw;
    }
}

@media only screen and (min-width: 600px) {
    :root {
        --item-amount-box: 15%;
    }

    .type_btn {
        font-size: 3vw;
    }

    .item_title {
        font-size: 3vw;
    }

    .item_body {
        font-size: 1.5vw;
    }

    .item {
        font-size: 4vw;
    }

    .item_des_box {
        padding: 5%;
    }
    
    .item_btn {
        font-size: 2vw;
    }
}

@media only screen and (min-width: 992px) {
    .type_btn {
        font-size: 2vw;
    }

    .item_body {
        font-size: 1.5vw;
    }

    .item {
        font-size: 2vw;
    }
    
    .item_des_box {
        padding: 2%;
    }

    .item_btn {
        font-size: 1.3vw;
    }
}