
:root {
    --inventory-box-height: 80%;
}

.window_box {
    height: 100vh;
    width: 100vw;
}

.inventory_box {
    background-color: yellow;
    width: 100%;
    height: var(--inventory-box-height);
}

.btns_box {
    width: 100%;
    height: calc(100% - var(--inventory-box-height));
}