
.screen_box {
    width: 100%;
    height: 350px;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

.choice_box {
    font-family: MM_KANUN;
    display: block;
    text-align: center;
    align-items: center;
}

.btn_box {
    margin-top: 5%;
    display: block;
    text-align: center;
}

.btn_box_list {
    overflow-y: auto;
    scrollbar-color: whitesmoke black;
    height: 60%;
}

.zoom_icon_box {
    margin-bottom: 1%;
}

.zoom_icon {
    cursor: pointer;
    color: whitesmoke;
}

.btn_el {
    width: 100%;
    /* background-color: black;
    color: white; */
}

/* .btn_el:hover {
    background-color: gray;
    color: white;
}

.btn_el:focus{
    background-color: gray;
    outline: none !important;
    color: white;
    box-shadow: none;
} */

.question_txt_box {
    display: flex;
    justify-content: center;
    border-color: transparent;
    background-color: transparent;
    resize: none;
    width: 96%;
    max-height: 150px;
    margin-left: 4%;
    margin-right: 4%;
    color: whitesmoke;
    scrollbar-color: whitesmoke black;
}

.question_txt_box:focus {
    outline: none !important;
}

@media only screen and (max-width: 600px) {
    .btn_el {
    font-size: 25px;
    }

    .question_txt_box {
    font-size: 25px;
    }
}

@media only screen and (min-width: 600px) {
    .btn_el {
    font-size: 25px;
    }

    .question_txt_box {
    font-size: 30px;
    }
}

@media only screen and (max-width: 992px) {
    .choice_box {
        width: 90%;
    }
}

@media only screen and (min-width: 992px) {
    .choice_box {
        width: 70%;
    }
}
