
.question_long_text_box {
    font-family: MM_KANUN;
    background-color: black;
}

.footer_box {
    background-color: black;
}

.question_text_body {
    font-size: 30px;
    height: 80vh;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    background-color: black;
}

.question_txt_box {
    display: flex;
    justify-content: center;
    border-color: transparent;
    background-color: transparent;
    resize: none;
    width: 96%;
    height: 100%;
    color: whitesmoke;
    scrollbar-color: whitesmoke black;
}

.question_txt_box:focus {
    outline: none !important;
}